# ==========================
# Data (do not upload datasets)
# ==========================
data/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

sql/Beaver exports/

# Personal working files
*.numbers

notebooks/01_Data_Exploration.ipynb