# ======================================================
# School Bullying Capstone - .gitignore
# ======================================================

# ==========================
# Raw Data (too large for GitHub)
# ==========================
data/raw/
data/processed/

# If you later want to upload the cleaned CSV,
# simply remove data/processed/ above.

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# DBeaver
# ==========================
sql/Beaver exports/
sql/Beaver exports/**
*.dbeaver
*.dbeaver-data-sources.xml

# ==========================
# Tableau (keep workbooks local)
# ==========================
tableau/
*.twbr

# ==========================
# Personal files
# ==========================
*.numbers

# ==========================
# Environment files
# ==========================
.env
.venv/
venv/
