# ==========================
# Data (do not upload datasets)
# ==========================
data/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# DBeaver
# ==========================
sql/Beaver exports/
*.dbeaver-data-sources.xml
*.dbeaver


# Personal working files
*.numbers

notebooks/01_Data_Exploration.ipynb